@model OppJar.Web.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - OPPJAR</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="forgot-password-page">
        <div class="container-fluid">
            <img class="logo"
                 src="~/img/oppjar-logo-white.png"
                 alt="oppjar" />
            <div class="forgot-password-form">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="box-body">
                    <div class="forgot-password-form-input">
                        <h3>Forgot your password?</h3>
                        <div class="form-group">
                            <label for="email">Enter your email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   asp-for="Email"
                                   placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="forgot-password-form-button">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <a href="/" class="form-btn btn-cancel btn">Cancel</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="form-btn btn-submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>