@{
    var email = Context.Request.Query["Email"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Confirmation - OPPJAR</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="verify-email-page">
        <div class="container-fluid">
            <img class="logo"
                 src="~/img/oppjar-logo-white.png"
                 alt="oppjar" />
            <div class="verify-email-form">
                <div class="email-icon"></div>
                <div class="content">
                    <p>
                        A verification email has been sent to:<br />
                        <a href="@email">@email</a>
                    </p>
                </div>
                <div class="dash-line"></div>
                <div class="note">
                    <p>
                        Have not received the email?
                        <a id="sendEmailForgot" style="cursor: pointer">Resend</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#sendEmailForgot").click(function() {
            $.ajax({
                type: "GET",
                url: "/account/resendemailforgotpassword?email=@Html.Raw(email)",
                success: function (data, status) {

                },
                error: function (error) {
                }
            });
        });
    });
    </script>
</body>
</html>