@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="app center" id="vue">
    <div id="content" class="app-content box-shadow-z0 white" role="main">
        <div class="app-body white p-t-lg" id="view">
            <div class="row-col">
                <div class="padding">
                    <div class="row center m-x-auto" style="max-width:767px; ">
                        <br />
                        <h3 style="text-align:center; color:#4f87b8">@ViewData["Title"]</h3>
                        <br />
                        <p>
                            Your password has been reset. Please <a asp-controller="Account" asp-action="signin">Click here to log in</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>