@model ResetPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
    var tokenEn = string.Empty;
    var token = @Context.Request.Query["token"];
    if (!string.IsNullOrEmpty(token))
    {
        tokenEn = Uri.EscapeDataString(token);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - OPPJAR</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="signup-page">
        <div class="container-fluid">
            <img class="logo"
                 src="~/img/oppjar-logo-white.png"
                 alt="oppjar" />
            <div class="signup-form">
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="box-body">
                    <div class="signup-form-input">
                        <h2>Reset your password</h2>

                        <div class="children-page-body">
                            <div class="create-page d-flex">
                                <input type="hidden" asp-for="Token" value="@tokenEn" />
                                <section class="change-password-info">
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-0">
                                                <label for="current_password">Current Password</label>
                                                <div class="input-group">
                                                    <input type="email" asp-for="Email"
                                                           class="form-control" placeholder="Email" />

                                                </div>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-0">
                                                <label for="new_password">New Password</label>
                                                <div class="input-group hideOnEdge">
                                                    <input type="password" asp-for="Password" id="new_password"
                                                           class="form-control" placeholder="New Password" />
                                                    <div class="input-group-append">
                                                        <span class="icon-eye-show pointer icon-toggle-password"
                                                              toggle="#new_password"></span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="input-field-note">
                                                <div class="form-row">
                                                    <div class="col-sm-6">
                                                        <p class="mb-0">Passwords must be at least:</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="mb-0">
                                                            - 6 characters<br />- 1 non alphanumeric
                                                            character<br />- 1 lowercase ('a'-'b')<br />- 1
                                                            uppercase ('A'-'Z')
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-0">
                                                <label for="confirm_new_password">Confirm New Password</label>
                                                <div class="input-group hideOnEdge">
                                                    <input type="password" asp-for="ConfirmPassword"
                                                           id="confirm_new_password" class="form-control"
                                                           placeholder="Confirm New Password" />

                                                    <div class="input-group-append">
                                                        <span class="icon-eye-show pointer icon-toggle-password"
                                                              toggle="#confirm_new_password"></span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="signup-form-button">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <a asp-action="SignIn" class="form-btn btn btn-cancel">Cancel</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="form-btn btn-submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".icon-toggle-password").click(function () {
                if ($(this).hasClass("icon-eye-show")) {
                    $(this).removeClass("icon-eye-show");
                    $(this).addClass("icon-eye-unshow");
                } else {
                    $(this).removeClass("icon-eye-unshow");
                    $(this).addClass("icon-eye-show");
                }
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

            var isEdge = navigator.userAgent.indexOf("Edg") != -1;
            if (isEdge) {
                $(".hideOnEdge").removeClass("input-group");
                $(".icon-eye-show").addClass("d-none");
                $(".icon-calendar").addClass("d-none");
            }
        });
    </script>
</body>
</html>

