@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - OPPJAR</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="signin-page">
        <div class="container-fluid">
            <img class="logo"
                 src="~/img/oppjar-logo-white.png"
                 alt="oppjar" />
            <div class="signin-form">
                <form asp-controller="Account" asp-action="Signin" asp-route-returnurl='@ViewData["ReturnUrl"]' method="post">
                    <div class="signin-form-input">
                        <h2>SIGN IN</h2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" asp-for="UserName"
                                   class="form-control"
                                   placeholder="Email" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" asp-for="Password"
                                   class="form-control"
                                   placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="signin-form-button">
                        <button type="submit" class="btn-submit">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="forgot-password">
                <a asp-action="ForgotPassword">Forgot password?</a>
                <p>Do you have any account? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign Up</a></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
