
@{
    ViewData["Title"] = "EventDetail";
}

<div class="app center" id="vue">
    <div id="content" class="app-content box-shadow-z0 white" role="main">
        <div class="app-body white p-t-lg" id="view">
            <div class="row-col">
                <div class="padding">
                    <div class="row">
                        <h2>Event Detail @ViewBag.EventName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>