@{
    ViewData["Title"] = "Error";
    Layout = "_ErrorLayout";
}

<div class="app center">
    <div id="content" class="app-content box-shadow-z0 white" role="main">
        <div class="app-body white p-t-lg" id="view">
            <div class="row-col">
                <div class="padding">
                    <div class="row center m-x-auto" style="max-width:767px; ">
                        <h2>Forbidden</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>