<div id="footer">
    <div class="footer p-a p-x-md dk grey" style="padding-top:0px !important">
        @*<div class="b b-b m-b-md"></div>
        <div class="row">
            <div class="col-xs-5 col-sm-6 col-md-2 col-md-offset-1">
                <h6 class="m-b">About Us</h6>
                <div class="m-b-md">
                    <ul class="nav" style="font-weight:300">
                        <li class="nav-item">
                            <a class="nav-link">What is OppJar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Press</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <h6 class="m-b">Follow Us</h6>
                <div class="nav l-h" style="font-weight:300">
                    <a class="btn btn-icon btn-social" title="Facebook">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                    </a>
                    <a class="btn btn-icon btn-social grey" title="Twitter">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter light-blue"></i>
                    </a>
                    <a class="btn btn-icon btn-social grey" title="Youtube">
                        <i class="fa fa-youtube"></i>
                        <i class="fa fa-youtube red-600"></i>
                    </a>
                    <a class="btn btn-icon btn-social grey" title="Instagram">
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-instagram light-blue-800"></i>
                    </a>

                </div>
            </div>
        </div>
        <div id="coming-soon" class="alert primary rounded col-xs-4 col-xs-offset-2 text-center" role="alert" style="z-index: 9000; margin-top:-50px; visibility:hidden">
            <strong>Coming Soon!</strong>
        </div>*@
        <div class="row m-b footer-bottom">
            <div class="col-sm-12" style="border-top:1px solid grey; margin-bottom:5px"></div>

            <div class="nav text-sm col-xs-7">
                <a class="nav-link p-r-xs">
                    <div class="text-muted">Terms of Use</div>
                </a>
                <a class="nav-link p-r-xs">
                    <div class="text-muted">Privacy Policy</div>
                </a>

            </div>
            <div class="col-xs-5">
                <div class="text-sm-right text-xs-left">
                    <small class="text-muted">&copy; @DateTime.Now.Year OppJar, Inc. <span class="hidden-xs-down">All rights reserved.</span></small>
                </div>
            </div>

        </div>
    </div>
</div>