<div>
    <ul class="list no-border p-b b-t b-t-2x rt-list">
        <li class="list-item"> 
            <h4>Affiliated Groups
            </h4>
        </li>

        <!-- <div class="col-xs-6 col-sm-12 m-t">
            <div class="list-left">
                <img src="/assets/images/google.png" class="w-56 w-56-resp circle" data-pin-nopin="true">
            </div>
            <h6 class="m-y m-l-sm"><a>Company Name</a></h6>
        </div>
        <div class="col-xs-6 col-sm-12 m-t">
            <div class="list-left">
                <img src="/assets/images/google.png" class="w-56 w-56-resp circle" data-pin-nopin="true">
            </div>
            <h6 class="m-y m-l-sm"><a>Company Name</a></h6>
        </div>
        <div class="col-xs-6 col-sm-12 m-t">
            <div class="list-left">
                <img src="/assets/images/google.png" class="w-56 w-56-resp circle" data-pin-nopin="true">
            </div>
            <h6 class="m-y m-l-sm"><a>Company Name</a></h6>
        </div> -->
    </ul>
    
</div>