
<ul class="list no-border p-b rt-list">
    <li class="list-item col-xs-12 p-t b-t b-t-2x"> 
    <h4>Affiliated Students</h4>
    </li>
    <!-- <div class="col-xs-6 col-sm-12 m-t">
        <div class="list-left">
            <img src="/assets/images/a6.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <h6 class="m-y m-l-sm"><a>Student Name</a></h6>
    </div>
     <div class="col-xs-6 col-sm-12 m-t">
        <div class="list-left">
            <img src="/assets/images/a5.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <h6 class="m-y m-l-sm"><a>Student Name</a></h6>
    </div>
     <div class="col-xs-6 col-sm-12 m-t">
        <div class="list-left">
            <img src="/assets/images/a4.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <h6 class="m-y m-l-sm"><a>Student Name</a></h6>
    </div>
     <div class="col-xs-6 col-sm-12 m-t">
        <div class="list-left">
            <img src="/assets/images/b5.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <h6 class="m-y m-l-sm"><a>Student Name</a></h6>
    </div> -->
</ul>
