@*@model RecipientViewModel*@


<li id="sponsor-list" class="list-group-item b-t b-t-2x">
    <div class="col-xs">
    <br class="hidden-sm-down">
    <h4>Sponsored by</h4>
    <br class="hidden-sm-down">
    </div>
    <div style="display: flex; justify-content: space-around; align-items: center;">
    <img src="/assets/images/fresno.png" alt="#" style="max-width: 170px; max-height: 100px">
    <img src="/assets/images/google.png" alt="#" style="max-width: 170px; max-height: 100px">
    </div>
    <br>
    <div>
    <br class="hidden-sm-down">
    <h4>Supported by</h4>
    <br class="hidden-sm-down">
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
    <img src="/assets/images/nike.png" alt="#" style="max-width: 100px; max-height: 70px">
    <img src="/assets/images/yahoo.png" alt="#" style="max-width: 100px; max-height: 70px">
    <img src="/assets/images/apple.png" alt="#" style="max-width: 100px; max-height: 70px">
    </div>
    <br>
    <div class="row">
    <div class="col-xs-12">

    <div><a class="pull-right text-sm" style="color:#4f87b8" data-toggle="modal" data-target="#sponsorModal"><span style="font-weight:900">View All</span></a></div>
    </div>
    </div>

</li>

