@*@model GroupViewModel*@

<ul id="vue" class="list no-border p-b rt-list">
    <li class="list-item col-xs-12"> 
    <h4>Recent Individual Sponsors <i class="fa fa-certificate" style="color:orange; margin-left: 5px"></i></h4>
    </li>
    @foreach (var sponsor in Model.LatestIndividualSponsors)
    {
        <li class="list-item col-xs-6 col-sm-12">
            <div class="list-left">
                <img src="@sponsor.ImageUrl" class="w-56 w-56-resp circle" data-pin-nopin="true">
            </div>
            <div class="list-body sponsor-info">
                <h6 class="_500" style="color:#4f87b8"><strong>$@sponsor.Amount</strong></h6>
                <strong><a href="/sponsor/@sponsor.Slug">@sponsor.FirstName @sponsor.LastName</a></strong>
            </div>
        </li>
    }
    @*
    <li class="list-item col-xs-6 col-sm-12">
        <div class="list-left">
            <img src="/assets/images/b1.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <div class="list-body sponsor-info">
            <h6 class="_500" style="color:#4f87b8"><strong>$80.00</strong></h6>
            <strong><a href="/users/">Joan Kelley</a></strong>
        </div>
    </li>
    <li class="list-item col-xs-6 col-sm-12">
        <div class="list-left">
            <img src="/assets/images/b3.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <div class="list-body sponsor-info">
            <h6 class="_500" style="color:#4f87b8"><strong>$40.00</strong></h6>
            <strong><a href="/users/">Martha Smith</a></strong>
        </div>
    </li>
    <li class="list-item col-xs-6 col-sm-12">
        <div class="list-left">
            <img src="/assets/images/b4.jpg" class="w-56 w-56-resp circle" data-pin-nopin="true">
        </div>
        <div class="list-body sponsor-info">
            <h6 class="_500" style="color:#4f87b8"><strong>$155.00</strong></h6>
            <strong><a href="/users/">David Bernstein</a></strong>
        </div>
    </li>
    *@
</ul>
<script>
    console.log(@Json.Serialize(Model))
</script>